{% extends 'base.html' %}

 <title>{% block title %}Profile{% endblock title %}</title>

{% block content %}
    <div class="jumbotron mb-2">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5 my-2">
                <div class="profile-card">
                    {% if current_user.user_image == '' %}
                        <img src="{{url_for('static',filename='user_profile_images/default.png')}}" height='50px;' width='50px' >
                     {% else %}
                    <img class="profile-card-photo" src="static/user_profile_images/{{current_user.user_image}}">
                    {% endif %}
                </div>
                <div class="profile-card">
                    <div class="profile-card-name">{{current_user.name}}</div>
                    <div class="profile-card-username">
                        username <strong>{{current_user.username}}</strong>
                    </div>
                    <div class="profile-card-points"> Level : <b>1</b> Points : <b>0</b> 
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <ul class="profile-links-list">
            </ul>                    
            </div>
            <div class="col-md-3">            
                <a role="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#recentLikes">Recent Likes</a>
                <a href="/edit_profile" role="button" class="btn btn-light">Edit Profile</a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-5">
    <div class="row mt-2">
        <div class="grid" data-columns="4"><div class="column size-1of4"><div class="col-md-12">
                <h5 class="text-light">No posts found</h5>
            </div></div><div class="column size-1of4"></div><div class="column size-1of4"></div><div class="column size-1of4"></div></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>  
</div>
<!--model box recent likes -->
<div class="modal fade" id="recentLikes" tabindex="-1" aria-labelledby="recentLikes" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="exampleModalLongTitle">Recent Likes</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="list-group">
                    <h5>No Feeds Found</h5>       
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  content %}